//基础色
$baseColor: #fff;
$mainColor: #51BC01; // 主颜色

//自定义颜色
$bg: #F0F2F5;
$light_gray: #eee;
$elementForm: #454545;
$bg2: rgba(240,242,245,0.5);;
$dark_gray: #889aa4;
$b3:#2c3e50;
$settingColor:rgba(0,0,0,0.45);
$borderBottom:rgba(232, 232, 232, 1);
//字体
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$font-size-large-xx: 24px;

$base-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
