$blue:#40A9FF;
$light-blue:#2970FF;
$red:#F4454E;
$pink: #E65D6E;
$green: #32B683;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #32B683;
$bgColor:#fff;
$mainBg:#F4F6FC;
$borderBottom:rgba(232, 232, 232, 1);
//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
