//基础色
$baseColor: #fff;
$mainColor: #2970FF; // 主颜色
$mainBgColor: #F0F7FF;
$errorColor: #FF3B30;
$redColor: #F06065;
$warningColor: #FAAD14;
$blueColor: #4DA9EB;
$successColor: #52C41B;
$solidColor: #E8E8E8;
$textColor:rgba(0,0,0,0.45);
$textColor2:rgba(0,0,0,0.65);
$textColor3:#002638;

//自定义颜色
$bg: #F0F2F5;
$light_gray: #eee;
$elementForm: #454545;
$bg2: rgba(240,242,245,0.5);
$dark_gray: #889aa4;
$b3:#2c3e50;
$borderBottom:rgba(232, 232, 232, 1);

//login
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

//字体
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$font-size-large-xx: 24px;

//$base-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
$base-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,"Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",SimSun, sans-serif;
